@font-face {
  font-family: 'Peepo';
  src: url('Peepo.woff');
}

/* ---xGlobal Styles--- */
/*  xScanline Graphic */
#scanlineGraphic {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: url('../../static/img/scanline.png');
  background-repeat: repeat-y;
  background-position: center;
  background-color: black !important;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

/* Website xTitle */
#titleBox {
  font-family: 'Peepo';
  text-align: center;
  margin-bottom: 20px;
}

#titleBox h1, #titleBox h2 {
  font-weight: normal;
  line-height: normal;
}

#titleBox h1 {
  font-size: 44px;
  margin-bottom: 0px;
}

#titleBox h2 {
  margin-top: -8px;
  font-size: 16px;
}

#titleBox a:hover {
  text-decoration: none;
}

/* Page xHeader */
#pageHead h1 {
  font-size: 42px;
  font-weight: normal;
  line-height: normal;
}

#pageHead {
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Search Box */
#searchBox {
  padding-left: 8px;
}

#searchInput:focus {
  outline: none;
}

#searchHint {
  font-size: 14px;
  margin-top: 3px;
}

#searchForm {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  display: none;
}

#searchForm span {
  border: 1px solid #00ff00;
}

#searchInput {
  border: 0px;
  padding-left: 5px;
  width: 170px;
}

#searchButton {
  border: 1px solid #00ff00;
}

/* Navbar */
#navbar div {
  margin: 0 auto;
  margin-bottom: 5px;
}

#navbar .navItem {
  display: inline-block;
  padding-right: 6px;
  padding-left: 6px;
  font-size: 20px;
}

.navItem a:hover {
  text-decoration: none;
}

/* Page Contents */
.cornerBox {
  position: relative;
  border-left: 2px solid #00ff00;
  border-right: 2px solid #00ff00;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.top, .bottom {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
  background-color: transparent !important;
}

.top {
  top: 0;
  border-top: 2px solid #00ff00;
}

.bottom {
  bottom: 0;
  border-bottom: 2px solid #00ff00;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/* Social Media */
#socMedia {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.socIcon {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.socIcon img {
  width: 48px;
}

/* Footer */
#footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Other Settings */
html {
  position: relative;
  /* forces height to be at least as big as the viewport*/
  min-height: 100%;
}

* {
  background-color: transparent;
  color: #00ff00;
  font-family: 'Peepo';
}

body {
  font-family: 'Peepo';
  height: 100%;
  background: black;
  line-height: normal;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
}

a {
  margin: 0 auto;
  color: #00ff00;
}

a:hover {
  color: #00ff00;
}

/* --- Home (contentDefault) Page--- */
.homeText ul li {
  list-style-type: none;
}

.homeText ul li:before {
  content: "> ";
}

.homeText ul {
  padding-left: 25px;
}

.homeText {
  font-size: 16px;
}

.hHead {
  font-size: 18px;
}

.homeText .important {
  font-size: 18px;
  text-transform: uppercase;
}

.sizepic {
  max-width: 100%;
  border: 2px solid #00ff00;
}

.picBox {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 25px;
}

/* ---xProjects Page--- */
#projListCont {
  max-width: 1600px;
  display: inline-block;
  margin: 0px auto 10px auto;
  text-align: left;
}

#contentProjects {
  max-width: 1600px;
}

#projListCont h3 {
  text-align: center;
  margin-bottom: 20px;
}

#projListCont h4 {
  margin-bottom: 5px;
}

#projList {
  margin: 0 auto;
  display: inline-block;
  margin-top: 20px;
}

.projItem {
  display: block;
  margin: 0px 0px 15px 0px;
}

.projItem h4 {
  font-size: 22px;
  line-height: normal;
}

.projItem .desc {
  font-size: 16px;
}

.projItem .link {
  font-size: 14px;
}

.projItem {
  margin-bottom: 40px;
}

.projInfo .link a:hover {
  text-decoration: none;
}

.projImg {
  max-width: 175px;
}

.noProjImg {
  width: 175px;
  height: 175px;
  font-size: 30px;
  line-height: 175px;
  text-align: center;
}

.projInfo {
  padding-left: 30px;
}

.projInfo .link {
  margin-top: 10px;
}

#projListCont {
  padding: 15px;
}

.imgCol {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.imgCol img {
  border: 2px solid #00FF00;
}

.noProjImg {
  margin: 0 auto;
  border: 2px solid #00FF00;
}

#projList {
  text-align: center;
}

.projInfo {
  padding-left: 0px;
  display: block;
}

/* ---xResume Page--- */
.expDetails{
	margin-left: 25px;
	margin-bottom: 18px;
}
.expDetails:last-child{
	margin-bottom: 12px;
}
.resumeBox {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
}

.resumeBox p {
  margin-bottom: 0.1in;
  direction: ltr;
  line-height: 125%;
  text-align: left;
}

.resumeBox .name {
  text-transform: uppercase;
  font-size: 30px;
}

.resumeBox h2 {
  font-size: 22px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 15px;
}

.resumeBox .expHead {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
}

.resumeBox .expSub {
  text-transform: uppercase;
  line-height: 25px;
}

.picBox {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.resumeBox ul {
  padding-left: 25px;
}
.resumeBox ul li {
  list-style-type: none;
}
.resumeBox ul li p:before{
  content: "> ";
}

/* xRandwords Page */
#contentRandwords {
  max-width: 1600px;
  text-align: center;
}
.word{
  font-size: 30px;

}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .homeText {
    font-size: 20px;
  }

  .hHead {
    font-size: 22px;
  }

  .homeText .important {
    font-size: 22px;
    text-transform: uppercase;
  }

  #searchForm {
    display: none;
  }

  #navbar .navItem {
    font-size: 26px;
  }

  .picBox {
    padding-right: 0px;
  }

  .projInfo {
    display: table-cell;
    padding-left: 30px;
  }

  .projItem {
    margin-bottom: 30px;
  }

  .imgCol {
    display: table-cell;
    margin-bottom: 0px;
  }

  .noProgImg {
    margin-bottom: 0px;
  }

  #projList {
    text-align: left;
  }

  .imgCol {
    display: table-cell;
  }

  .projItem h4 {
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
  }

  .projItem .desc {
    font-size: 16px;
  }

  .projectItem .link {
    font-size: 14px;
  }

  #titleBox h1 {
    font-size: 58px;
  }

  #titleBox h2 {
    font-size: 20px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .homeText {
    font-size: 20px;
  }

  .hHead {
    font-size: 22px;
  }

  .homeText .important {
    font-size: 22px;
    text-transform: uppercase;
  }

  #searchForm {
    display: block;
  }

  #navbar {
    display: none;
  }

  .picBox {
    padding-right: 15px;
    margin-bottom: 0px;
    max-width: 500px;
  }

  #projListCont {
    min-width: 900px;
  }

  .projItem h4 {
    font-size: 24px;
    line-height: normal;
  }

  .projItem .desc {
    font-size: 16px;
  }

  .projItem .link {
    font-size: 14px;
  }

  #titleBox h1 {
    font-size: 58px;
  }

  #titleBox h2 {
    font-size: 20px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  #searchForm {
    display: block;
  }

  #navbar {
    display: none;
  }

  .container-fluid {
    max-width: 1600px;
  }

  .projItem h4 {
    font-size: 28px;
    line-height: normal;
  }

  .projItem .desc {
    font-size: 18px;
  }

  .projItem .link {
    font-size: 16px;
  }

  #titleBox h1 {
    font-size: 58px;
  }

  #titleBox h2 {
    font-size: 20px;
  }
}
