{% extends "contentLayout.html" %}
{% block content %}
<div id="contentHome">
    <div class="row">
        <div id="pageHead" class="col-xs-12">
            <h1>HELLO, WORLD</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-hr-port picBox">
            <img alt="Cool code graphic!" class="sizepic" src="static/img/code-pic.png"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-hr-port cornerBox homeText">
            <div class="top left"></div>
            <div class="top right"></div>
            <div class="bottom left"></div>
            <div class="bottom right"></div>
            <p>Graduate of Ferris State University 2015</p>
            <p>Bachelor's in Computer Information Systems</p>
            <p>In Richardson, TX since July 2018 (originally from Muskegon, MI)</p>
            <div class="hHead">JOB INTERESTS: </div>
            <ul>
                <li>Web Development</li>
            </ul>
            <div class="hHead">FAVORITE LANGUAGES: </div>
            <ul>
                <li>Python</li>
                <li>Java</li>
            </ul>

            <div class="hHead">HOBBIES: </div>
            <ul>
                <li>PC gaming</li>
                <li>YouTube</li>
                <li>Making videos</li>
                <li>Music (synthwave, vaporwave, <a href="https://www.youtube.com/channel/UC9ecwl3FTG66jIKA9JRDtmg">SiivaGunner</a>)</li>
            </ul>
            <p class="important">!!LOOKING FOR FREELANCE WORK, OR CODING JOBS NEAR RICHARDSON!!</p>
        </div>
    </div>
</div>

{% endblock %}
