{% extends "contentLayout.html" %}
{% block content %}
<div id="contentHome">
    <div class="row">
        <div id="pageHead" class="col-xs-12">
            <h1>HELLO, WORLD</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-hr-port picBox">
            <img alt="Cool code graphic!" class="sizepic" src="static/img/code-pic.png"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-hr-port cornerBox homeText">
            <div class="top left"></div>
            <div class="top right"></div>
            <div class="bottom left"></div>
            <div class="bottom right"></div>
            <p>Graduate of Ferris State University 2015</p>
            <p>Bachelor's in Computer Information Systems</p>
            <p>Dallas, TX</p>
            <div class="hHead">JOB INTERESTS: </div>
            <ul>
                <li>Full Stack Web</li>
		<li>Game Developer</li>
		<li>Software Developer</li>
            </ul>
            <div class="hHead">FAVORITE LANGUAGES: </div>
            <ul>
                <li>Python</li>
		<li>PHP</li>
                <li>Java</li>
            </ul>

            <div class="hHead">HOBBIES: </div>
            <ul>
                <li>PC gaming (Beat Saber, EDF5, Indie games)</li>
                <li>Video Editing</li>
                <li>Music (synthwave, vaporwave, chiptune, videogame soundtracks)</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
