{% extends "contentLayout.html" %}
{% block content %}
<div id="contentHome">
  <div class="row">
    <div id="pageHead" class="col-xs-12">
      <h1>HELLO, WORLD</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 picBox">
    <img alt="Cool code graphic!" class="sizepic contentImg" src="static/img/code-pic.png"></div>
    <div class="col-xs-12 col-md-8 cornerBox homeText">
      <div class="top left"></div>
      <div class="top right"></div>
      <div class="bottom left"></div>
      <div class="bottom right"></div>
      <p>Graduate of Ferris State University 2015</p>
      <p>Bachelor's in Computer Information Systems</p>
      <p>In Richardson, TX since July 2018 (originally from Muskegon, MI)</p>
      <p>INTERESTS: Web Development<br>
      FAVORITE LANGUAGES: Python, Java<br>
      HOBBIES: PC gaming, YouTube, making videos, music (synthwave, vaporwave, <a href="https://www.youtube.com/channel/UC9ecwl3FTG66jIKA9JRDtmg">SiivaGunner</a>, Pop ['70s-'00s])</p>
      <p class="important">!!!LOOKING FOR FREELANCE WORK IN WEB DEVELOPMENT, OR CODING JOBS NEAR RICHARDSON, TX!!!</p>
    </div>
  </div>
</div>

{% endblock %}
