{% extends "contentLayout.html" %}
{% block content %}
<div class="row">
    <div id="pageHead" class="col-xs-12">
        <h1>GAME</h1>
    </div>
</div>
<div id="contentGame" class="row">
    <div class="col-sm-12 cornerBox" style="text-align:center;">
        <div class="top left"></div>
        <div class="top right"></div>
        <div class="bottom left"></div>
        <div class="bottom right"></div>

        <iframe frameborder="0" src="https://itch.io/embed-upload/2776902?color=00ff00" allowfullscreen="false" width="1280" height="720"><a href="https://sackodev.itch.io/testgame">Play AGame on itch.io</a></iframe>

    </div>
</div>

{% endblock %}
