{% extends "layout.html" %}

{% block content %}
	<h3 id="contentOof">OOF!</h3><!-- homepage content -->
	<div class="container hideContent" id="contentHome">
		<div class="row">
			<div class="col-sm-4"><img alt="Cool code graphic!" class="sizepic" src="static/img/code-pic.png"></div>
			<div class="col-sm-8 cornerBox">
				<div class="top left"></div>
				<div class="top right"></div>
				<div class="bottom left"></div>
				<div class="bottom right"></div>
				<h3>Column 2</h3>
				<p>Lorem ipsum dolor..</p>
				<p>Ut enim ad..</p>
				<p>Pro ut iusto ocurreret, ad vidit luptatum eos. Nobis noster ne cum. Ei sale doming ullamcorper per, brute ullamcorper duo no, te dolores laboramus scribentur qui. Impetus quaeque persecuti quo eu. An mucius essent gloriatur has, liber habemus adipiscing nec no. Ei sale doming ullamcorper per, brute ullamcorper duo no, te dolores laboramus scribentur qui. Impetus quaeque persecuti quo eu. An mucius essent gloriatur has, liber habemus adipiscing nec no. Dolor epicuri comprehensam et ius, omittam oporteat quo ex, vel impedit officiis menandri te. Meis dolorem adipisci in pro, idque minimum cu duo. Eam nisl zril an, an liber dicunt pertinax pro, adipisci delicatissimi ut eam. Quo in fuisset adipiscing, in pri mucius mnesarchum, ea dolore alterum petentium cum.</p>
			</div>
		</div>
	</div>
{% endblock %}
