{% extends "contentLayout.html" %}
{% block content %}
<div class="row">
    <div id="pageHead" class="col-xs-12">
        <h1>PROJECTS</h1>
    </div>
</div>
<div id="contentProjects" class="row">
    <div class="col-sm-12 cornerBox">
        <div class="top left"></div>
        <div class="top right"></div>
        <div class="bottom left"></div>
        <div class="bottom right"></div>
        <table id="projList">
            <tbody>
                {% for row in rows %}
                <tr class="projItem">
                    <td class="imgCol">
                        {% if row['img'] == "" %}
                        <div class="noProjImg">NO IMAGE</img>
                            {% else %}
                            <a href="/static/img/{{row['img']}}"><img src="/static/img/{{row['editimg']}}" class="projImg"></a></img>
                            {% endif %}
                    </td>
                    <td class="projInfo">
                        <h4>{{row["projname"]}}</h4>
                        <div class="desc">{{row["desc"]}}</div>
                        <div class="link"><a href="{{row['link']}}">--> Project Link <--</a> </div> </td> </tr> {% endfor %} </tbody> </table> </div> </div> {% endblock %}
