{% extends "contentLayout.html" %}
{% block content %}
  <div class="row">
      <div id="pageHead" class="col-xs-12">
      <h1>PROJECTS</h1>
    </div>
  </div>
    <div id="projContent" class="row">
                <div class="col-sm-12 blah">
                    <div id="contentProject" class="cornerBox">
                        <div class="top left"></div>
			            <div class="top right"></div>
			            <div class="bottom left"></div>
			            <div class="bottom right"></div>
                        <table id="projList">
                        <tbody>
                            {% for row in rows %}
                            <tr class="projItem">
                                <td>
                                    <img src="https://via.placeholder.com/150x150" class="projImg"></img>
                                </td>
                                <td class="projInfo">
                                    <h4 class="projName">{{row["projname"]}}</h4>
                                    <div class="desc">{{row["desc"]}}</div>
                                    <div class="link"><a href="{{row['link']}}">--> Project Link <--</a></div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
        </div>
{% endblock %}
