{% extends "contentLayout.html" %}
{% block content %}
<div id="contentResume">
    <div class="row">
        <div id="pageHead" class="col-xs-12">
            <h1>RESUME</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 cornerBox resumeBox">
            <div class="top left"></div>
            <div class="top right"></div>
            <div class="bottom left"></div>
            <div class="bottom right"></div>
            <p class="head"><span class="name">Zach Adkins</span><br />
                Dallas, TX<br />
                zachadkins@workmail.com</p>

            <h2>Education</h2>

            <ul>
                <li>
                    <p>Ferris State University</p>
                </li>
                <li>
                    <p>Bachelor of Science in Computer Information Systems</p>
                </li>
                <li>
                    <p>Cumulative GPA: 3.53, December 2015</p>
                </li>
            </ul>
	
	<h2>Experience</h2>

            <p><span class="expHead">SYSTEMS MONITOR - Meijer, Inc.</span><br />
                <span class="expSub">Muskegon, Michigan, March 2016 - June 2020</span><br />
               <div class="expDetails">> Effectively managed section of store's database to fix issues with products and pricing<br />
               > Worked cross-functionally across different store teams to resolve technical issues as they arose<br />
               > Exhibited excellent customer service skills by handling inquiries in a fast-paced environment and directing customers to the best source of information, as necessary
		</div></p>

            <p><span class="expHead">WEB DEVELOPER - Brooklyn Bagels</span><br />
                <span class="expSub">Muskegon, Michigan, May 2015 - September 2015</span><br />
               <div class="expDetails">> Designed and developed the company website via HTML, CSS, and the Bootstrap framework<br />
               > Implemented a MySQL database system and website editor in PHP to facilitate future updates<br />
               > Utilized JavaScript and JQuery for popups, animations, and menu integration<br />
               > Advised in purchasing decisions regarding the website's hosting and domain names well-suited to the client's requested parameters<br />
               > Created strong and effective partnership with the client through active communication to ensure product accuracy and quality standards</div></p>

            <p><span class="expHead">WEB DEVELOPER - Muskegon Port City RC</span><br />
                <span class="expSub">Muskegon, Michigan, December 2015 - February 2015</span><br />
               <div class="expDetails">> Designed and created website via HTML and CSS<br />
	       > Provided customizable pages to accomodate future client edits</div></p>

            <h2>Additional Skills and Experience</h2>

            <ul>
                <li>
                    <p>Languages: Python, Java, JavaScript, PHP, HTML5, MySQL, SQLite</p>
                </li>
                <li>
                    <p>Operating Systems: Linux, Windows: XP, Vista, 7 & 10</p>
                </li>
                <li>
                    <p>Misc: Microsoft Office, PC Building: Desktop</p>
                </li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}
